@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="col-md-8">
        <h3>Welcome to the Kansas City Blues</h3>
        <p>We are Kansas City's premier soccer team.</p>
        <img style="width:650px; height:350px;"src="~/lib/images/soccer-ball-on-grass-field-during-daytime-46798.jpg" />
    </div>
    <div class="stadium">
        <div class="col-md-4">
            <h3>Come see us play!</h3>
            <p>Finley Stadium</p>
            <img style="width:250px; height: 250px;" src="~/lib/images/sport-game-match-brasil-41257.jpg" />

        </div>
    </div>

</div>